*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: .16rem;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    
}
footer{
    width: 100%;
    height:0.5rem;
   
}
.content{
    flex: 1;
    overflow:auto;
}
body{
    display: flex;
    flex-direction: column;
}
.mt10{
    margin-top: 0.1rem;
}
.ml10{
    margin-left: 0.1rem;
}
.mb10{
    margin-bottom: 0.1rem;
}
.mr10{
    margin-right: 0.1rem;
}
.mt20{
    margin-top: 0.2rem;
}
.ml20{
    margin-left: 0.2rem;
}
.mb20{
    margin-bottom: 0.2rem;
}
.mr20{
    margin-right: 0.2rem;
}
.pt10{
    padding-top: 0.1rem;
}
.pl10{
    padding-left: 0.1rem;
}
.pb10{
    padding-bottom: 0.1rem;
}
.pr10{
    padding-right: 0.1rem;
}
.pt20{
    padding-top: 0.2rem;
}
.pl20{
    padding-left: 0.2rem;
}
.pb20{
    padding-bottom: 0.2rem;
}
.pr20{
    padding-right: 0.2rem;
}
.p15{
    padding: 0.15rem;
}
.fl{
    float: left;
}
.fr{
    float: right
}
.f14{
    font-size: 0.14rem;
}
.f16{
    font-size: 0.16rem;
}
.plr15{
    padding-left: 0.15rem;
    padding-right: 0.15rem;
}